node_modules
**/node_modules
.pnpm-store
**/.pnpm-store
.next
**/.next
.turbo
**/.turbo
.git
*.log
**/.git
**/.env
**/.env.*
internal-docs
.dev-logs
scratch
**/scratch
**/.eslintcache
**/dist
**/coverage
